<!DOCTYPE html>
<html lang="en">

<head>
  <title>Python Package Index (demo)</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/style.css" rel="stylesheet">
</head>

<body>

  <style>
    .title {
      font-weight: bold;
    }
  </style>
  <h1>Python Package Index</h1>

  <h2>Package</h2>

  {% for p in packages %}
  <div>
    <span class="title"> {{ p.name.upper() }}</span>
    <span class="version"> {{ p.version }}</span>

  </div>

  {% endfor %}




</body>

</html>
